@import "../../baseStyles/variables";
@import "src/baseStyles/smart-grid";

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 38px;

  @include sm-block {
    justify-content: center;
    padding: 8px;

    &__btn {
      display: none;
    }
  }

  &__btn {
    font-size: 24px;
    font-weight: 500;
    color: $color-black-1;

    &:hover {
      color: $color-black-2;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {

      &__link {
        padding: 0 2px;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        color: $color-black-1;

        &:hover {
          color: $color-black-2;
        }

        &--active {
          color: $color-green;
        }
      }
    }
  }
}
