@import "~bootstrap/scss/bootstrap";
@import "../../baseStyles/variables";

svg,
svg path,
a,
button,
input,
select,
div,
img, ul, li {
  transition: 0.6s easeInSine;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  scroll-behavior: smooth;
}