@import "../../baseStyles/variables";
@import "../../baseStyles/fonts";

body {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.6;
  color: $color-black-1;
  scroll-behavior: smooth;
  background-color: #fff;
}
