@import "src/baseStyles/variables";
@import "src/baseStyles/smart-grid";


.table__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $color-black-1;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}
