.header {
  .nav {
    position: absolute;
    width: 100%;
    transform: translateX(-150%);
    animation: left 1s forwards;

    &--close {
      width: 0;
      display: none;
    }
  }
}

@keyframes left {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}