@import "src/baseStyles/variables";
@import "src/baseStyles/smart-grid";

.search {
  max-width: 631px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0 15px;
  padding: 15px 24px 15px 0;
  background-color: $color-black-2;
  box-sizing: border-box;

  &__input {
    flex-grow: 1;
    height: 100%;
    margin-right: 20px;
    padding: 0 24px;
    color: #B2B7BF;
    font-size: 14px;
    font-weight: 400;
    line-height: 137.687%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid $color-black-2;

    &:focus {
      outline: none;
      border-color: $color-grey;
    }
  }

  &__btn {
    width: 21px;
    height: 21px;
    background-image: url('../../../public/img/search.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      opacity: .6;
    }
  }
}
